body {
    font-family: Arial;
    background: #f4f6f8;
    text-align: center;
}

.container {
    margin-top: 50px;
}

input {
    padding: 10px;
    width: 300px;
}

button {
    padding: 10px 20px;
    background: #007bff;
    color: white;
    border: none;
}

.card {
    margin: 30px auto;
    width: 400px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

.green { color: green; font-weight: bold; }
.orange { color: orange; font-weight: bold; }
.red { color: red; font-weight: bold; }